[submodule "libs/genetic-algorithm"]
	path = libs/genetic-algorithm
	url = git@github.com:bendoerry/shorelark-genetic-algorithm
[submodule "libs/neural-network"]
	path = libs/neural-network
	url = git@github.com:bendoerry/shorelark-neural-network
[submodule "libs/simulation"]
	path = libs/simulation
	url = git@github.com:bendoerry/shorelark-simulation
[submodule "libs/simulation-wasm"]
	path = libs/simulation-wasm
	url = git@github.com:bendoerry/shorelark-simulation-wasm
[submodule "www"]
	path = www
	url = git@github.com:bendoerry/shorelark-www
